

//1
@import "./1/variables";


//2
@import "./2-tools/layout";
@import "./2-tools/general";
@import "./2-tools/tools";
@import "./2-tools/button";
@import "./2-tools/typography";
@import "./2-tools/animation";

//3
@import "./3-section/header";
@import "./3-section/home-section";
@import "./3-section/work-Section";
@import "./3-section/contact"; 






