
.container-layout {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    
}

.container-layout-2 {
    width: 95%;
    margin: auto;
    
}

.container-layout-3 {
    width: 95%;
    
    max-width:1150px;
    margin: auto;
    
}


@media  only  screen  and (min-width: 560px) {

    .container-layout {
        max-width: 590px;
        width: 95%;
        margin: auto;
        
    }
    
}

@media  only  screen  and (min-width: 769px) {

    .container-layout  {
        max-width: 740px;
        width: 96%;
        margin: auto;
        
    }
}

@media  only  screen and (min-width: 993px) {
    .container-layout {
        max-width: 950px;
        width: 96%;
        margin: auto;
        
    }
}