// top navbar


header {
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    nav{
        position: relative;
        margin: auto;
        padding:  1rem ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 4;

        #logo {
            font-weight: 600;
        }

        // style button for mobile menu 
        .menu-btn{   
            width: 30px;
            height: 18px;
            // border: white 1px solid;
            // border-radius: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            transition: all 300ms ease-in-out;
            // padding: -15px;
            .menu-btn-1,
            .menu-btn-2,
            .menu-btn-3{
                height: 3px;
                width: 100%;
                border-radius: 2px;
                background-color: $text-color;

                position: relative;
                transition: all 300ms ease-in-out;
            }

        }
        // javascript class for button animation
        .open-btn .menu-btn-1{
            transform: rotate(45deg) translate(6px, 6px);
        }
        .open-btn .menu-btn-2{
            transform: scaleX(0);
            transform-origin: left;
        }
        .open-btn .menu-btn-3{
            transform: rotate(-45deg) translate(5px, -5px);;
        }

        // class for the nav on bigger display
        #pc-nav {
            display: none; // media queries=> display:flex
            flex-direction: row;
            justify-content: space-between;
            list-style-type:none;

            li {
                margin: .5rem;
                a {
                    text-decoration: none;
                    color: $text-color;
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }
        }
    }
}

// class for the mobile dislay menu
.mobile-menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(8,0,0,1) 100%); 
    z-index: 1;

    transition: transform 400ms ease-out;
    transition-delay: 300ms;
    transform: scaleX(0);
    transform-origin: right;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ul {
        z-index: 3;
        list-style-type:none;
        // justify-self: center;
        li{
            margin: 3rem;
            a{
                color: transparent;
                font-size: 2rem;
                font-weight: 700;
                transition: color 400ms ease-in-out;
                
            }
            
        }

    }
    div a{ 
        font-size: 3rem;
        
        color: transparent;
        
        transition: color 400ms ease-in-out;

        img {
            width: 40px !important;
            
            visibility: hidden;
            transition: visibility 200ms ease-in-out;
        }
    }
}
// javascript class for the mobile dislpay menu
.mobile-menu-open {
    transform: scaleX(1);
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
.mobile-menu-open ul li a,
.mobile-menu-open div a{
    color: $text-color;
}

.mobile-menu-open div a img{
    visibility: visible;
}


@media  only  screen  and (min-width: 560px) {

    header nav{
        max-width: 90%;

        #pc-nav{           // leaving the display: none
            display: flex;
            li a{
                    font-size: 1.2rem;
                }
        } 

        .menu-btn{      // Leaving the button
            display: none;  
        }
    }
    

}

@media  only  screen  and (min-width: 769px) {
}

@media  only  screen and (min-width: 993px) {
}